@using WebSite.DBModels
@model List<Products>
@{
    ViewData["Title"] = "Products";
    ViewData["Layaut"] = "~/css/site.css";
}
<h1>Products</h1>
@for(int i = 0; i < Model.Count(); i+=2)
{
    <div class = "inline-div">
        <div class = "border-item">  
            <p class = "Products-name">@Model[i].Name</p>
            <p class = "Products-description">@Model[i].Description</p> 
            <div class = "Products-Guid">@Model[i].guid</div> 
        </div>
        @if (Model.Count() > i + 1)
        {
            <div class = "border-item">  
                <p class = "Products-name">@Model[i+1].Name</p>
                <p class = "Products-description">@Model[i+1].Description</p> 
                <div class = "Products-Guid"><p>@Model[i+1].guid</p></div> 
            </div>
        }
    </div>
}
