@using WebSite.DBModels
@using WebSite.ShowModels
@model ProductsShowModel
@{
    ViewData["Title"] = "Products";
    ViewData["Layaut"] = "~/css/site.css";
}
<h1>Products</h1>

@for(int i = 0; Model.ProductsPerPage * Model.CurrentPage + i < Model.ProductsList.Count() && i < Model.ProductsPerPage; i+=2)
{
    <div class = "inline-div">
        <div class = "border-item">  
            <p class = "Products-name">@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i].Name</p>
            <p class = "Products-description">@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i].Description</p> 
            <div class = "Products-Guid">@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i].Guid</div> 
        </div>
        @if (Model.ProductsList.Count() > Model.ProductsPerPage * Model.CurrentPage + i + 1)
        {
            <div class = "border-item">  
                <p class = "Products-name">@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i+1].Name</p>
                <p class = "Products-description">@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i+1].Description</p> 
                <div class = "Products-Guid"><p>@Model.ProductsList[Model.ProductsPerPage * Model.CurrentPage + i+1].Guid</p></div> 
            </div>
        }
    </div>
}
    @if (Model.IsPagesNeeded)
    {
        <div class = "PageJumpDiv">
            <ul class = "PageJump">
                <li><a asp-area="" asp-controller="Products" asp-action="Products" asp-route-page = "1">1</a></li>

                @if (Model.GetCurrentPageMap.IsPreviousNeeded)
                {
                    <li><a asp-area="" asp-controller="Products" asp-action="Products" asp-route-page = "@Model.GetCurrentPageMap.PreviousPage">…</a></li>
                }

                @for (int j = Model.GetCurrentPageMap.PageFrom; j <= Model.GetCurrentPageMap.PageTo; j++)
                {
                    <li><a asp-area="" asp-controller="Products" asp-action="Products" asp-route-page = "@j">@j</a></li>
                }

                @if (Model.GetCurrentPageMap.IsNextNeeded)
                {
                    <li><a asp-area="" asp-controller="Products" asp-action="Products" asp-route-page = "@Model.GetCurrentPageMap.NextPage">…</a></li>
                }

                <li><a asp-area="" asp-controller="Products" asp-action="Products" asp-route-page = "@Model.PageCount">@Model.PageCount</a></li>
            </ul>
        </div>
    }

