@using WebSite.DBModels
@using WebSite.ShowModels
@model ProductsShowModel
@{
    ViewData["Title"] = "Products";
    ViewData["Layaut"] = "~/css/site.css";
}
<h1>Products</h1>
@for(int i = 0; i < Model.ProductsList.Count(); i++)
{
    int j = 0; 
    
        <div class = "border-item-main">  
            @if(j%2==0)
            {

                <img class = "product-image-main left-orientired" src="@Model.UrlSchemeFromElementNumber(i)">
            } 
            else
            {
                <img class = "product-image-main right-orientired" src="@Model.UrlSchemeFromElementNumber(i)">
            }

        <p class = "Products-name">@Model.ProductsList[i].Name</p>
            <p class = "Products-description">@Model.ProductsList[i].Description</p> 
            <div class = "Products-Guid-main">@Model.ProductsList[i].guid</div> 
        </div>
}
